*~
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.des
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.esq
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.md5
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.ois
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.sds
/seq/Parastagonospora_nodorum_SN15_scaffolds.fasta.ssp
